<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.sourcepit.org/common/mf/0.1"
            class="org.sourcepit.common.mf.internal.model.ManifestPackage"/>
   </extension>
</plugin>
