<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Example -->
      <package
            uri="http://www.sourcepit.org/common/manifest/0.1"
            class="org.sourcepit.common.manifest.ManifestPackage"
            genModel="META-INF/emf/manifest.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Example -->
      <package
            uri="http://www.sourcepit.org/common/manifest/osgi/0.1"
            class="org.sourcepit.common.manifest.osgi.BundleManifestPackage"
            genModel="META-INF/emf/manifest.genmodel"/>
   </extension>

</plugin>
